<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEARLOVE-留言板</title>
    <link href="../static/images/favicon.ico" th:href="@{/static/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">CLEARLOVE</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" th:href="@{/user/index}" class="m-item item"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/user/type/-1}" class="m-item item"><i class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/user/blog/archives}" class="m-item item"><i class="clock icon"></i>时间轴</a>
            <a href="#" th:href="@{/user/music}" class="m-item item"><i class="music icon"></i>音乐盒</a>
            <a href="#" th:href="@{/user/message}" class="active m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
            <!--<a href="#" th:href="@{/friends}" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>-->
            <a href="#" th:href="@{/user/picture}" class="m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...."
                               th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/messagebg.jpg" th:src="@{/static/images/messagebg.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">留言板</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">虽然只是短暂的擦身，相遇与分别，尽管如此，我却仍然想珍惜这所有的一切
            </div>

        </div>
    </div>
</div>


<!--中间内容-->
<div id="waypoint" class="m-margin- animated fadeIn">
    <div class="ui container m-opacity box-shadow-max">
        <!--                新增留言-->
        <div id="comment-form" class="ui form">
            <input type="hidden" id="userId" name="userId"
                   th:value="${session.user == null ? null:session.user.id}">
            <input type="hidden" name="parentMessageId">
            <div class="field" style="margin: 0 15px 0 15px">
                <textarea name="content" placeholder="请输入留言信息..."></textarea>
                <div th:if="${session.user==null}" style="margin-top: 5px;">您需要<a
                        href="#"
                        th:href="@{/user/loginPage(path=${#httpServletRequest.getRequestURL()})}">登录</a>后才可以留言
                </div>
            </div>
            <div class="fields" style="margin-left: 10px; margin-top: 10px;">
                <div class="field  m-margin-bottom-small m-mobile-wide" th:if="${session.user !=null}">
                    <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"
                            onclick="releaseComment()"><i class="edit icon"></i>发布
                    </button>
                </div>
            </div>
        </div>
        <!--留言区-->
        <div class="ui bottom attached m-margin-top" style="margin: 0 15px 0 15px">
            <div id="message-container" class="ui teal segment">
                <div th:fragment="messageList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">留言</h3>
                        <div class="comment" th:each="message : ${pageInfo.list}">
                            <a class="avatar">
                                <img style="width: 35px; height: 28px" src="../static/image/me.jpg" th:src="@{${message.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${message.nickName}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini"
                                         th:if="${message.adminMessage}">栈主
                                    </div>
                                </a>
                                <div class="metadata">
                                    <span class="date"
                                          th:text="${#dates.format(message.createdTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                </div>
                                <div class="text" th:text="${message.content}">太赞了！</div>
                                <div class="actions">
                                    <a class="reply" data-messageid="1" data-messagenickname="Matt"
                                       th:attr="data-messageid=${message.id},data-messagenickname=${message.nickName}"
                                       onclick="reply(this)">回复</a>
                                    <a class="delete" href="#" th:href="@{/messages/{id}/delete(id=${message.id})}"
                                       onclick="return confirm('确定要删除该留言吗？')" th:if="${session.user}">删除</a>
                                </div>
                            </div>
                            <!--子集留言-->
                            <div class="comments" th:if="${message.replyMessage != null}">
                                <div class="comment" th:each="reply : ${message.replyMessage}">
                                    <a class="avatar">
                                        <img style="width: 35px; height: 28px" src="../static/image/me.jpg" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickName}">小红</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini"
                                                 th:if="${reply.adminMessage}">栈主
                                            </div>
                                            &nbsp;<span th:text="|@ ${reply.parentNickName}|" class="m-teal">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date"
                                                  th:text="${#dates.format(reply.createdTime,'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">太赞了！</div>
                                        <div class="actions">
                                            <a class="reply" data-messageid="1" data-messagenickname="Matt"
                                               th:attr="data-messageid=${reply.id},data-messagenickname=${reply.nickName}"
                                               onclick="reply(this)">回复</a>
                                            <a class="delete" href="#"
                                               th:href="@{/messages/{id}/delete(id=${reply.id})}"
                                               onclick="return confirm('确定要删除该留言吗？')"
                                               th:if="${session.user}">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <div class="ui bottom attached segment m-opacity stackable grid" style="margin-top: 30px">
                        <div class="three wide column" align="center">
                            <a class="item" th:href="@{/user/message(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                        </div>

                        <div class="ten wide column" align="center">
                            <p> <span th:text="${pageInfo.pageNum}"></span> / <span th:text="${pageInfo.pages}"></span> </p>
                        </div>

                        <div class="three wide column" align="center">
                            <a class="item" th:href="@{/user/message(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>

    </div>
</div>


<br>
<br>
<br>


<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
    <a href="#" class="ui teal icon button"><i class="chevron up icon"></i> </a>
</div>


<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <!--<div id="newblog-container">-->
                <!--<div class="ui inverted link list" th:fragment="newblogList">-->
                <!--<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin" th:each="blog : ${newblogs}" th:text="${blog.title}">最新文章</a>-->
                <!--</div>-->
                <!--</div>-->
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：liz@linkcld.com</div>
                    <div href="#" class="m-text-thin">QQ：1376738980</div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            关注公众号
                        </div>
                        <img src="../static/images/oneStar.jpg" th:src="@{/static/images/oneStar.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            问题交流（QQ群）
                        </div>
                        <img src="../static/images/QQ-question.jpg" th:src="@{/static/images/QQ-question.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px"
                         th:fragment="blogStatistic">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${totalBlogNums}"> 99 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${totalReadNums}"> 99 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${totalCommentNums}"> 99 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            点赞总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${totalLikeNums}"> 99 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;" th:text="${totalMessageNums}"> 99 </h2> 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


<script>
    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

    $('#blog-message').load("/blog/user/blogStatistic");

    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2020, 01, 25, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();


    //评论表单验证
    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入留言内容'
                }
                ]
            }
        }
    });

    function releaseComment() {
        var boo = $('.ui.form').form('validate form');
        var parentMessageId = $("[name='parentMessageId']").val();
        console.log("父留言id：" + parentMessageId);
        if (boo) {
            console.log('校验成功');
            // 判断回复的留言父id是否为空
            if (parentMessageId != null && parentMessageId !== '') {
                console.log("确认下："+parentMessageId)
                replyPostData(parentMessageId);
            } else {
                postData();
            }
        } else {
            console.log('校验失败');
        }
    }
    //
    // // 校验信息
    // $('#messagepost-btn').click(function () {
    //     var boo = $('.ui.form').form('validate form');
    //     if (boo) {
    //         console.log('校验成功');
    //         postData();
    //     } else {
    //         console.log('校验失败');
    //     }
    // });

    // 评论方法
    function postData() {
        $("#message-container").load("/blog/user/saveMessage", {
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
            $(window).scrollTo($('#goto'), 500);
            clearContent();
        });
    }


    function replyPostData(parentMessageId) {
        $("#message-container").load("/blog/user/replyMessage", {
            "content": $("[name='content']").val(),
            "parentMessageId": parentMessageId,
        }, function (responseTxt, statusTxt, xhr) {
            $(window).scrollTo($('#goto'), 500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentMessageId']").val('');
        $("[name='content']").attr("placeholder", "请输入留言信息...");
    }

    function reply(obj) {
        var messageId = $(obj).data('messageid');
        console.log(messageId);
        var messagenickname = $(obj).data('messagenickname');
        $("[name='content']").attr("placeholder", "@" + messagenickname).focus();
        $("[name='parentMessageId']").val(messageId);
        $(window).scrollTo($('#comment-form'), 500);
    }

</script>
</body>
</html>
